span.letraC {
	font-family: 'Helvetica'; 
	color: white;
	font-size: 20px;
}

span.letraA {
	font-family: 'Helvetica'; 
	color: white;
	font-size: 12px;
}

span.letraFooter {
	font-family: 'Helvetica'; 
	color: white;
	font-size: 16px;
	text-align: center;
}

span.letraB {
	font-family: 'Helvetica'; 
	color: black;
	font-size: 24px;
}

html,body
{
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	background-color:#039700;
	padding:10px;
}

#content {
	padding:10px;
	padding-bottom:80px;   /* Height of the footer element */
}

#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background-color:#039700
}

#centrar_pantalla
{
	padding-top: 50px;
}

#elem_head{
	height:45px;
}

#img_head{
	width: 300px;
}

a {
  color: #000000;
  text-decoration: none;
  line-height: inherit; }
  a:hover, a:focus {
    color: #990024; }
  a img {
    border: none; }